<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">


<th:block layout:fragment="css">
    <style>
        .element-layout{
            width: 400px;
            margin: 0 auto;
            padding: 43px 0 50px;
        }
        .title_css{}
        .form-group-layout{}
        .form_css{}
        .id_login{}
        .pw_login{}
        .login_button{}
        .sns_login{}
        .sns_title{}
        .sns_list{}

    </style>
</th:block>
<div layout:fragment="content">
        <div class="element-layout">
        <h2 class="title_css">로그인</h2>
            <div class="form-group-layout">
                <form class="form_css" action="">
                    <div class="id_login">
                        <input type="text">
                    </div>
                    <div class="pw_login">
                        <input type="password">
                    </div>
                    <button class="login_button">로그인하기</button>
                </form>
                <div class="sns_login">
                    <h3 class="sns_title">sns간편가입</h3>
                    <div class="sns_list">
                        <button>네이버</button>
                        <button>구글</button>
                        <button>카카오</button>
                    </div>
                </div>
                <a href="">계정</a>
                <ul class="find_join">
                    <li class="find_id">
                        <a href="">아이디</a>
                    </li>
                    <li class="find_pw">
                        <a href="">비밀번호</a>
                    </li>
                </ul>
            </div>
        </div>
</div>

</html>